.hero {
  width: 100vw;
  background: var(--black);
  padding: 185px 0 30px;
  transition: padding 0.5s ease;
}
.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-inline: 16px;
}
.logo {
  width: auto;
  height: auto;
  object-fit: contain;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
  opacity: 1;
}
.logo.hide {
  opacity: 0;
  transform: translateY(-40px);
  pointer-events: none;
}
.title {
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
}
.consultationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* padding: 16px 16px; */
  color: var(--white);
  width: 100%;
  /* max-width: 342px; */
  height: 45px;
  background-color: var(--accent);
  font-weight: 500;
  font-size: 24px;
  border: 2px solid var(--accent);
  border-radius: 8px;
  transform: translateY(0);
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s ease;
}
.consultationBtn:hover {
  border: 2px solid var(--white);
}
.consultationBtn:active {
  border: 2px solid var(--black);
  background-color: var(--accent-activ);
}
.consultationBtn.hide {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
}

/* ==== TABLET (768px+) ==== */
@media screen and (min-width: 744px) {
  .hero {
    padding: 225px 0 40px;
  }
  .hero_container {
    gap: 36px;
}
  .logo {
    width: auto;
    height: auto;
  }
  .title {
    font-size: 32px;
  }
  .consultationBtn {
    font-size: 30px;
    border-radius: 16px;
    width: 387px;
    height: 68px;
  }
}

/* ==== DESKTOP (1440px+) ==== */
@media screen and (min-width: 1440px) {
  .hero {
    padding: 235px 0 60px;
  }
  .hero_container {
    max-width: 1280px;
    gap: 48px;
    margin: 0 auto;
    padding-inline: 72px;
  }
  .logo {
    width: auto;
    height: auto;
  }
  .title {
    font-size: 40px;
  }
  .consultationBtn {
    width: 463px;
    height: 76px;
    font-size: 36px;
  }
}
