.hero {
  width: 100vw;
  background: var(--header-footer);
  padding: 100px 0 30px;
  transition: padding 0.5s ease;
}

/* .hero.shrink {
  padding: 10px 0;
} */

.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-inline: 16px;
}
.logo {
  width: auto;
  height: auto;
  object-fit: contain;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
  opacity: 1;
}
.logo.hide {
  opacity: 0;
  transform: translateY(-40px);
  pointer-events: none;
}
.title {
  /* color: var(--additional-text); */
  color: #20c2c4;
  /* color: #00bcd4; */
   font-size: 24px;
  text-align: center;
}

.consultationBtn {
  text-align: center;
  padding: 16px 16px;
    color: var(--additional-text);
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: transparent;
  font-size: medium;
  border: 1px solid var(--additional-text);
  border-radius: 8px;
  transition: all 0.5s ease;
  transform: translateY(0);
  opacity: 1;
  text-decoration: none;
 }
.consultationBtn:hover {
  transform: scale(1.05);
   }

.consultationBtn.hide {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
}

/* ==== TABLET (768px+) ==== */
@media screen and (min-width: 768px) {
  .hero {
    padding: 100px 0 40px;
  }

  /* .hero.shrink {
    padding: 20px 0;
  } */
  .logo {
    width: auto;
  height: auto;

      }
  .title {
    font-size: 32px;
  }

  .consultationBtn {
    font-size: 16px;
  }
}

/* ==== DESKTOP (1440px+) ==== */
@media screen and (min-width: 1280px) {
  .hero {
    padding: 130px 0 60px;
  }

  /* .hero.shrink {
    padding: 30px 0;
  } */

  .hero_container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 72px;
  }
  .logo {
    width: auto;
  height: auto;
 
      }
  .title {
    font-size: 40px;
  }

  .consultationBtn {
    height: 60px;
    padding: 20px 16px;
    font-size: 18px;
  }
}
