.advantages {
  width: 100vw;
  padding: 30px 0;
}
.advantages_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-image: url("../../../public/owlGrey.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 12px;
}
.item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 16px 23px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  width: 343px;
  height: 130px;
}
.badge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  min-width: 32px;
}
.number {
  position: absolute;
  top: 50%;
  transform: translateY(12%);
  color: var(--accent);
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 80%;
}
.text {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

/* ==== TABLET (768px+) ==== */
@media screen and (min-width: 744px) {
  .title {
    font-size: 30px;
  }
  .list {
    gap: 16px;
  }
  .item {
    gap: 38px;
    padding: 16px 16px 16px 23px;
    border: none;
    width: 100%;
    height: auto;
  }
  .number {
    font-size: 125px;
  }
  .text {
    font-size: 28px;
  }
}

/* ==== DESKTOP (1440px+) ==== */
@media screen and (min-width: 1440px) {
  .list {
    padding-left: 120px;
    padding-right: 120px;
  }
  .item {
    gap: 90px;
  }
  .item:nth-child(even) {
    padding-left: 200px;
  }
  .text {
    font-size: 36px;
  }
}
