.switcher {
  padding: 6px 8px 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid;
  transition: all 0.3s ease;
  font-size: 14px;
}
.white {
  background: transparent;
  border-color: white;
  color: white;
}

.white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.black {
  background: transparent;
  border-color: black;
  color: black;
}

.black:hover {
  background-color: rgba(0, 0, 0, 0.05);
}