.header {
  width: 100vw;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: var(--black);
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}
.logoWrapper {
  display: block;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
  margin-right: auto;
}
.logoWrapper.moveLogo {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logoWrapper.hide {
  opacity: 0;
  transform: translateY(40px);
}
.header .consultationBtn {
  opacity: 0;
  transform: translateY(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 132px;
  /* padding: 8px; */
  background-color: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  /* scale: 1; */

  pointer-events: none;
  text-decoration: none;
  text-align: center;
  margin-right: 24px;
  transition: all 0.5s ease;
}
.header .consultationBtn:hover {
  border: 2px solid var(--white);
  color: var(--white);
}
.header .consultationBtn:active {
  scale: 0.95;
}
.header .consultationBtn.showBtn {
  opacity: 1;
  transform: translateY(0);
  /* display: inline-block; */
  pointer-events: auto;
}
.header .consultationBtn.hide {
  opacity: 0;
  transform: translateY(40px);
}
.header_container {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 16px; */
  height: 100%;
}
.header_container.withElements {
  /* justify-content: space-between; */
}
.logoImg {
  width: auto;
  height: 40px;
  object-fit: contain;
}
.nav {
  display: none;
}
.nav a {
  color: var(--white);

  text-decoration: none;
  transition: all 0.3s ease;
}
.nav a:hover {
  text-decoration: underline;
  color: var(--accent);
}
/* .burger {
  background: none;
  border: none;
  color: var(--additional-text);
  display: block;
  cursor: pointer;
} */

.burger {
  width: 30px;
  height: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 1001; /* вище MobileMenu */
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent);
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
}

/* .burger.open span {
  background-color: var(--black);
} */
/* Анімація до хрестика */
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.burger:hover span {
  background-color: var(--white);
}
.burger:active  {
  scale: 0.95;
}

.headerLangPosition {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

/* @media screen and (max-width: 743px) {
  .headerLangPosition {
    display: none;
  }
} */

/* ==== TABLET (768px+) ==== */
@media screen and (min-width: 744px) {
  .header {
    height: 92px;
  }
  .header_container {
    /* justify-content: space-between; */
    /* padding-inline: 60px; */
  }
  .header_container.withElements {
    justify-content: space-between;
  }
  /* .nav {
    display: flex;
    gap: 20px;
  }
  .nav a.active {
    text-decoration: underline;
    color: var(--accent-activ);
  } */
  .header .consultationBtn {
    margin-right: 35px;
    border: 3px solid var(--accent);
    border-radius: 16px;

    font-size: 30px;
    width: 226px;
    height: 68px;
  }
  .header .consultationBtn.showBtn {
    /* height: 44px; */
    padding: 13px 16px;
    /* font-size: 15px; */
  }
  .header .consultationBtn.hide {
    /* height: 44px; */
    padding: 8px 19px;
  }
  .logoImg {
    padding: 0 10px;
    height: 68px;
  }
  .burger {
    width: 68px;
    height: 68px;
    background: none;
    border: 3px solid var(--accent);
    border-radius: 16px;
    padding: 16px;
    z-index: 1001; /* вище MobileMenu */
  }
  .burger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent);
    border-radius: 3px;
  }
  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
  }
}

@media screen and (max-width: 1439px) {
  .headerLangPosition {
    display: none;
  }
}

/* ==== DESKTOP (1440px+) ==== */
@media screen and (min-width: 1440px) {
  .header {
    height: 120px;
  }
  .header_container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 86px;
  }
  .nav {
    display: flex;
    gap: 40px;
    margin-inline: auto;
    font-weight: 400;
    font-size: 24px;
  }
  .nav a.active {
    text-decoration: underline;
    color: var(--accent-activ);
  }

  .header .consultationBtn.showBtn {
    font-size: 24px;
    padding: 15px 24px;
    /* height: 50px; */
  }
  .header .consultationBtn.hide {
    font-size: 16px;
    padding: 10px 24px;
    height: 50px;
  }
  .burger {
    display: none;
  }
  .logoImg {
    padding: 0 21px;
  }
}
