.header {
  width: 100vw;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: var(--header-footer);
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}
.logoWrapper {
  display: block;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}
.logoWrapper.moveLogo {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logoWrapper.hide {
  opacity: 0;
  transform: translateY(40px);
}
.header .consultationBtn {
  opacity: 0;
  transform: translateY(40px);
  display: inline-block;
  height: 35px;
  padding: 9px 12px;
  background-color: transparent;
  border: 1px solid var(--additional-text);
  color: var(--additional-text);
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  scale: 1;
  transition: all 0.5s ease;
  pointer-events: none;
  text-decoration: none;
  text-align: center;
}
.header .consultationBtn:hover {
  scale: 1.05;
}
.header .consultationBtn.showBtn {
  opacity: 1;
  transform: translateY(0);
  display: inline-block;
  pointer-events: auto;
}
.header .consultationBtn.hide {
  opacity: 0;
  transform: translateY(40px);
}
.header_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}
.header_container.withElements {
  justify-content: space-between;
}
.logoImg {
  width: auto;
  height: 40px;
  object-fit: contain;
}
.nav {
  display: none;
}
.nav a {
  color: var(--additional-text);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav a:hover {
  text-decoration: underline;
  color: #ffcc00;
}
/* .burger {
  background: none;
  border: none;
  color: var(--additional-text);
  display: block;
  cursor: pointer;
} */

.burger {
  width: 30px;
  height: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 1001; /* вище MobileMenu */
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--additional-text);
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
}

.burger.open span {
  background-color: black;
}
/* Анімація до хрестика */
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.headerLangPosition {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .headerLangPosition {
    display: none;
  }
}

/* ==== TABLET (768px+) ==== */
@media screen and (min-width: 768px) {
  .header {
    height: 84px;
  }
  .header_container {
    justify-content: space-between;
    padding-inline: 60px;
  }
  .header_container.withElements {
    justify-content: space-between;
  }
  .nav {
    display: flex;
    gap: 20px;
  }
  .nav a.active {
    text-decoration: underline;
    color: #00ffff;
  }
  .header .consultationBtn.showBtn {
    height: 44px;
    padding: 13px 16px;
    font-size: 15px;
  }
  .header .consultationBtn.hide {
    height: 44px;
    padding: 8px 19px;
  }
   .burger {
    display: none;
  }
  .logoImg {
    padding: 0 10px;
    height: 40px;
  }
}

/* ==== DESKTOP (1280px+) ==== */
@media screen and (min-width: 1280px) {
  .header {
    height: 106px;
  }
  .header_container {
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 72px;
  }
  .nav {
    gap: 24px;
  }
  .header .consultationBtn.showBtn {
    font-size: 16px;
    padding: 15px 24px;
    height: 50px;
  }
  .header .consultationBtn.hide {
    font-size: 16px;
    padding: 10px 24px;
    height: 50px;
  }
  .logoImg {
    height: 50px;
    padding: 0 21px;
  }
}
