/* ROOT STYLES */

:root {
  --accent: #189ea3;
  --accent-active: #0f959a;
  --white: #ffffff;
  --black: #0d151d;
  --background: #f6f9f9;
  --error: #a32818;

  --header-footer: black;
  --input-backgroung: rgba(68, 127, 255, 0.07);
  --additional-text-title: #292828;

  --status: #10fd18;

  --icon: #697a9e;
  --additional-text: #fdfdfd;
  --button-hover: #1654d7;
  --button-pressed: #0051ff;
  --button-notactive: #afb0b2;
  --button-without-icon: #2a51a5;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Quicksand", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Qwigley", sans-serif;
}

/* RESET STYLES */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
fieldset,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family);
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 600;
}

/* GLOBAL STYLES */

.container {
  width: 375px;
  padding-inline: 16px;
  margin-inline: auto;
}
html {
  scroll-padding-top: 100px;
}

@media screen and (min-width: 744px) {
  .container {
    width: 744px;
    padding-inline: 36px;
  }
  html {
    scroll-padding-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-inline: 80px;
  }
  html {
    scroll-padding-top: 140px;
  }
}
